.contain{
    margin: auto;
    height:1000px;
    width: 80%;
    border-radius: 10px;

   
}
 
 .top-head{
     margin: auto;
      margin-top: 10px;
      background-color: chocolate;
      height: 100px;
      width: 98%;
      border-radius: 10px;
      

 }


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.box1{
  
    background-color:rgb(139, 0, 30);
    height: 25%;
    width: 100%;
    border-radius: 10px;
   
}

.main-float {
    margin: auto;
    margin-top: 10px;
    width: 98%;
    height: 400px;
    border-radius: 10px;
  
    background-color:lawngreen
}
.top-main{
    margin: auto;
    margin-top: 10px;
    background-color:darkcyan;
    height: 400px;
    width: 98%;
    border-radius: 10px;
}
.box{
    margin-top: 9px ;
    float: left;
    background-color:rgb(139, 0, 30);
    height: 70%;
    width: 32%;
    border-radius: 10px;
    
}

.pad{
    margin-left: 18px;
    margin-right: 19px;
}

.bottom-foot{
    margin: auto;
    margin-top: 5px;
    width: 98%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid red;
    background-color:rgb(212, 157, 17)
}
